body{
	margin: 0;
	line-height: 1,6px; 
	height: 100vh; 
	background-image: url('images/daglar.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: flex;
}

.text{	
	font-family: 'Kaushan Script', sans-serif;
	font-size: 150px;
	color: white;
	position: relative;
	text-align: center;
	letter-spacing: 8px;
	top: 160px;
	left: -1%;
}

.menu{
	font-family: 'Kaushan Script', sans-serif;
	font-size: 30px;
	color: white;
	position: relative;
	text-align: center;
	letter-spacing: 8px;
	line-height: 40px;
	top: 110px;
	left: -3%;
}