body{
	margin: 0;
	padding: 0;
 }

.background1 {
  height: 100vh; 
	background-image: url('images/tarih1.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.anasayfa{
	font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: white;
  position: absolute;
  text-align: center;
  letter-spacing: 2px;
  line-height: 25px;
  top: -2%;
  right: 4%;
}

.arrow{  
  position: absolute;
  max-width: 65px ;
  max-height:65px;
  top: 91%; 
  left: 49%;
}

.arrow2{
    position: absolute;
    max-width: 65px ;
    max-height:65px; 
    top: 550%;
    left: 49%;
    padding-bottom: 20px;
}

.background2 {
    color: white;
}

.header{
	font-family: 'Montserrat', sans-serif;
	color: white;
	position: absolute;
	font-size: 90px;
	top: 2%; 
	left: 6%;
  line-height: 110px;
}

.b1{
  font-family: 'Montserrat', sans-serif;
  color: black;
  position: absolute;    
  top: 130%; 
  left: 18.7%;
  font-size: 22px;
  font-weight: bold;
  transform: translate(-50%, -50%);   
	text-align: left;
  letter-spacing: 0,5px;
}

.tex1{
	font-family: 'Montserrat', sans-serif;
	color: black;
	position: absolute;
  top: 150%; 
  left: 27%;
  font-size: 22px;
  transform: translate(-50%, -50%);	
  text-align: left;
  letter-spacing: 0,5px;
  max-width: 480px;
  min-width: 480px;
  overflow: hidden;
  line-height: 40px;
}

.img1{
  max-width: 600px;
  min-width: 600px;
	position: absolute;
  top: 125%; 
  right: 10%
}

.tex2{
  font-family: 'Montserrat', sans-serif;
  color: black;
  position: absolute;
  top: 225%; 
  left: 73%;
  font-size: 20px;
  transform: translate(-50%, -50%);   
  text-align: left;
  letter-spacing: 0,5px;
  max-width: 510px;
  min-width: 510px;
  overflow: hidden;
  line-height: 40px;
}

.img2{
  max-width: 600px;
  min-width: 600px;
  position: absolute;
  top: 200%; 
  left: 7%
}

.tex3{
  font-family: 'Montserrat', sans-serif;
  color: black;
  position: absolute;
  top: 302%; 
  left: 27%;
  font-size: 21px;
  transform: translate(-50%, -50%);   
  text-align: left;
  letter-spacing: 0,5px;
  max-width: 480px;
  min-width: 480px;
  overflow: hidden;
  line-height: 40px;
}

.img3{
  max-width: 600px;
  min-width: 600px;
  position: absolute;
  top: 272%; 
  right: 10%
}

table{
  padding: 0;
  position: absolute;
  top: 418%;
  left: 15%;
  border-collapse:collapse;
  width: 70%; 
  height: 40%;
  text-align: center;
  border: 0.1px solid #b9bec4; 
  margin: 0;}

th {
  border: 0.1px solid #b9bec4;
}

td {
  border: 0.1px solid #b9bec4; 
}

.tex4{
  font-family: 'Montserrat', sans-serif;
  color: black;
  position: absolute;
  top: 377%; 
  left: 73%;
  font-size: 20px;
  transform: translate(-50%, -50%);   
  text-align: left;
  letter-spacing: 0,5px;
  max-width: 515px;
  min-width: 515px;
  overflow: hidden;
  line-height: 40px;
}

.img4{
   max-width: 610px;
  min-width: 610px;
  position: absolute;
  top: 355%; 
  left: 7%;
padding-bottom: 9%;
}

.tex5{
  font-family: 'Montserrat', sans-serif;
  color: black;
  position: absolute;
  top: 508%; 
  left: 27%;
  font-size: 22px;
  transform: translate(-50%, -50%);   
  text-align: left;
  letter-spacing: 0,5px;
  max-width: 480px;
  min-width: 480px;
  overflow: hidden;
  line-height: 40px;
}

.img5{
  max-width: 600px;
  min-width: 600px;
  position: absolute;
  top: 483%; 
  right: 10%;
  padding-bottom: 9%;
}
