body{
	margin: 0;
	padding: 0;
  }


.background1 {
    height: 100vh; 
	background-image: url('images/kazenoy2.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.anasayfa{

font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
    position: absolute;
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
    top: -2%;
    right: 4%;
}

.arrow{
    position: absolute;
    max-width: 65px ;
    max-height:65px;
    top: 91%; 
    left: 49%;
}

.arrow2{
    position: absolute;
    max-width: 65px ;
    max-height:65px; 
    top: 470%;
    left: 49%;
    padding-bottom: 30px;
}

.background2 {
    color: white;
}

.header{
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    font-size: 90px;
    top: 6%; 
    left: 6%;
    line-height: 110px;
}

.tex1{
    font-family: 'Montserrat', sans-serif;
    color: black;
    position: absolute;
    top: 150%; 
    left: 27%;
    font-size: 22px;
    transform: translate(-50%, -50%);	
    text-align: left;
    letter-spacing: 0,5px;
    max-width: 480px;
    min-width: 480px;
    overflow: hidden;
    line-height: 40px;
}

.img1{
    max-width: 600px;
    min-width: 600px;
    position: absolute;
    top: 125%; 
    right: 10%
}
.tex2{
    font-family: 'Montserrat', sans-serif;
    color: black;
    position: absolute;
    top: 219%; 
    left: 73%;
    font-size: 20px;
    transform: translate(-50%, -50%);   
    text-align: left;
    letter-spacing: 0,5px;
    max-width: 500px;
    min-width: 500px;
    overflow: hidden;
    line-height: 40px;
}

.img2{
    max-width: 600px;
    min-width: 600px;
    position: absolute;
    top: 195%; 
    left: 7%
}

.tex3{
    font-family: 'Montserrat', sans-serif;
    color: black;
    position: absolute;
    top: 293%; 
    left: 27%;
    font-size: 20px;
    transform: translate(-50%, -50%);   
    text-align: left;
    letter-spacing: 0,5px;
    max-width: 480px;
    min-width: 480px;
    overflow: hidden;
    line-height: 40px;
}

.img3{
    max-width: 600px;
    min-width: 600px;
    position: absolute;
    top: 266%; 
    right: 10%
}

.tex4{
    font-family: 'Montserrat', sans-serif;
    color: black;
    position: absolute;
    top: 362%; 
    left: 73%;
    font-size: 20px;
    transform: translate(-50%, -50%);   
    text-align: left;
    letter-spacing: 0,5px;
    max-width: 515px;
    min-width: 515px;
    overflow: hidden;
    line-height: 40px;
}

.img4{
    max-width: 610px;
    min-width: 610px;
    position: absolute;
    top: 340%; 
    left: 7%;
    padding-bottom: 9%;
}

.tex5{
    font-family: 'Montserrat', sans-serif;
    color: black;
    position: absolute;
    top: 435%; 
    left: 27%;
    font-size: 20px;
    transform: translate(-50%, -50%);   
    text-align: left;
    letter-spacing: 0,5px;
    max-width: 480px;
    min-width: 480px;
    overflow: hidden;
    line-height: 40px;
}

.img5{
    max-width: 600px;
    min-width: 600px;
    position: absolute;
    top: 409%; 
    right: 10%;
    padding-bottom: 9%;
}